<div [ngClass]="expanded ? 'col-md-12':'col-md-6'">
	<div class="well card" [style.background]="thought?.color">
		<div>
			<div *ngIf="expanded" class="col-md-12">
				<div class="pull-right btn btn-circle" [routerLink]="['edit', thought?.id]">
					<i class="fa fa-edit"></i>
				</div>
			</div>
			<div class="pointable" (click)="expanded = !expanded">
				<h4 class="text-center">{{thought?.title}}</h4>
			</div>
		</div>
		<div *ngIf="expanded">
			<p class="multiline">{{thought?.content}}</p>
		</div>
	</div>
</div>