<header>
	<h3 class="text-center">Thoughts</h3>
	<hr />
</header>

<main class="well-lg">
	<h2 style="color:purple" class="text-center" *ngIf="isLoading"><span class=" fa fa-spinner fa-spin"></span> Loading...</h2>

	<div class="row">
		<div class="col-md-3"></div>
		<div class="col-md-9">
			<menu><a class="btn btn-danger btn-circle"><span class="create fa fa-plus"></span></a></menu>
			<div *ngFor="let thought of thoughts" class="col-md-6">
				<item [thought]="thought"></item>
			</div>
		</div>
	</div>
</main>