<div class="panel panel-default">
	<div class="panel-heading text-center">Options</div>
	<div class="panel-body">
		<div class="form-group">
			<label class="control-label">Search:</label>
			<input (input)="updateFilter('search', $event.target.value)" class="form-control" type="search" />
		</div>
		<br />
		<div class="form-group">
			<label class="control-label">Sort By:</label>
			<div class="radio">
				<label><input type="radio" [checked]="filters.sortBy == 'date'" (click)="updateFilter('sortBy', 'date')" />Date</label>
				&nbsp;
				<label><input type="radio" [checked]="filters.sortBy == 'title'" (click)="updateFilter('sortBy', 'title')" />Title</label>
			</div>
		</div>
		<br />
		<div *ngIf="thoughts?.length > 0" class="form-group">
			<label class="control-label">Categories:</label>
			<div class="btn-group">
				<div class="btn btn-lg" title="Clear" [class.active]="filters.color == ''" (click)="updateFilter('color', '')"><i class="fa fa-close"></i></div>
				<div style="display:inline" *ngFor="let c of colors">
					<div *ngIf="c.count" [title]="c.name" [class.active]="c.name == filters.color" class="btn btn-lg" [style.background]="c.name" (click)="updateFilter('color', c.name)">{{c.count}}</div>
				</div>
			</div>
		</div>
	</div>
	<div class="panel-footer"></div>
</div>