.v-center {
	position:relative;
	top:50%;
	transform:translateY(50%);
}

.pointable {
	cursor: pointer;
}

.btn-circle {
	display: inline-block;
	border-radius: 50%;
}

.card {
	box-shadow: lightgray 5px 5px;
	border-radius: 4px 4px;
}